/**
*   Basic typography style for copy text
*/

body
{
    font: ms(0) $text-font-stack;  
    color: $main-theme-fg;
    line-height: 1.6;

    @include media("medium"){
        font-size: 1em;
    }
}

h1, h2, h3, h4, h5, 
h6
{
    font-family: $secondary-font-stack !important;
}

[class^="Bicons"], [class*=" Bicons"]{
    font-family: $icon-font-stack;
}
