
//Regular font family
//@type List

$text-font-stack: ('Open Sans', 'Open Sans Regular', 'Open Sans Light', 'Arial', sans-serif) !default;

//secondary font family
//@type List

$secondary-font-stack: ('Roboto Slab', 'Roboto Slab Bold', 'Roboto Slab Regular', 'Courier New', serif) !default;

//terceary font family
//@type List

$icon-font-stack: ('Bruno-Icons') !default;


$theme-white: hsl(0, 0%, 93%) !default;
$theme-black: hsl(0, 0%, 20%) !default;
$theme-violet: hsl(340, 57%, 61%) !default;
$theme-green: hsl(94, 48%, 34%) !default;


$main-theme: $theme-green;
$main-theme-fg: tint($main-theme, 20);
$main-theme-fg2: shade($main-theme, 20);

$breakpoints: (
    'micro': (min-width: 320px),
    'small': (min-width: 767px),
    'regular': (min-width: 992px),
    'medium': (min-width:1024px),
    'large': (min-width:1200px),
) !default;

$modularscale: (
    'base': 12px, 
    'ratio': 1.618,
) !default;

/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/src/' !default;
