@charset 'utf-8';

.article
{
    z-index: 3;

    background: $main-theme;

    transition: all 0.5s ease-in;

    &:target{
        animation: opacity 1s;
        $menu-item: attr(data-item);
    }

    &__title
    {
        text-align: center;
        margin-top: 70px
    }

    &__content{
        text-align: justify;
        padding: 8px 12px;
        line-height: 1.5;
        text-indent: 5%
    }

    &--white
    {
        color: $main-theme;
        background: $main-theme-fg;
    }
}
