@charset 'utf-8';

.article
{
    z-index: 3;

    width: 100%;
    height: 100vmax;

    background: $theme-black;

    &__title
    {
        text-align: center;
    }

    &--white
    {
        color: $theme-black;
        background: $theme-white;
    }
}
