.header
{
    font-weight: bolder;

    position: sticky;
    z-index: 5;
    top: -350px;

    margin: 0;

    transition: all .5s ease-in-out;

    &__menu
    {
        background: $theme-white;

        filter: drop-shadow(0 1px 1px $theme-black);

        &__nav
        {
            ul
            {
                display: grid;
                align-items: stretch;

                grid-template-rows: repeat(5, 50px);

                li
                {
                    list-style: none;

                    a
                    {
                        display: block;

                        transition: all .5s ease-in;
                    }
                }
            }
        }
    }
}

.label
{
    position: fixed;
    z-index: 7;
    top: 20px;
    right: 20px;

    width: 40px;
    height: 6px;
    padding: 8px 0;

    border-top: 6px solid $theme-black;
    border-bottom: 6px solid $theme-black;
    background: content-box $theme-black;

    &__cell
    {
        z-index: 4;

        display: none;

        width: 100vmax;
        height: 100vmax;

        opacity: 0;

        &:checked
        {
            .header
            {
                top: 0;
            }
        }
    }
}
