.header
{
    font-weight: bolder;

    background: $main-theme;

    position: sticky;
    z-index: 5;
    top: -95px;

    transition: all .5s ease-in-out;

    display: grid;
    box-shadow: 0 1px 5px $main-theme;

    &__title{
        background: $main-theme;

        text-align: center;
    }

    &__menu
    {
        background: $main-theme;
        font-size: ms(1);

        &__nav
        {
            ul
            {
                display: grid;
                justify-content: stretch;

                grid-template-columns: repeat(5, 1fr);

                li
                {
                    list-style: none;

                    text-align: center;

                    a
                    {
                        display: block;

                        transition: all .5s ease-in;
                    }
                }
            }
        }
    }
}
